<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetroAI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='watermark.png') }}">
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const curiosityElement = document.getElementById('curiosity');
            const curiosities = [
            "Use a RetroAI para colorir imagens! 📸🎨",
                "Use a RetroAI para colorir vídeos! 🎥🎨",
                "A RetroAI usa Inteligência Artificial Generativa para colorir as imagens e os vídeos.🧠🤖",
                "A IA generativa da RetroIA pinta digitalmente fotos e vídeos antigos, <br>revitalizando memórias de épocas passadas! 🎞️🎨",
                "Powered by Let's Tech It 🚀",
            ];
            let index = 0;

            setInterval(() => {
                curiosityElement.innerHTML = curiosities[index];
                index = (index + 1) % curiosities.length;
            }, 4000);
        });
    </script>

    <script>
        window.addEventListener('load', ()=> {
            const loader = document.querySelector(".loader");

            loader.classList.add("loader--hidden");
            
            document.addEventListener("transitionend", () => {
                document.body.removeChild(loader);
            });
        
        });

    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6240072080745593"
     crossorigin="anonymous"></script>
     
</head>

<body> 
    
    <div class="loader"></div>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="container">
        <div class="content">
            <h1>RetroAI 🎨</h1>
            <h2>A IA Generativa para colorir imagens e vídeos em preto e branco!</h2>

            <div class="button-container">
                <form action="/imagem">
                    <button class="img-btn">Colorir Imagem 📸</button>
                </form>
                <form action="/video">
                    <button class="img-btn">Colorir Vídeos 🎥</button>
                </form>
            </div>
        
            <div class="curiosity">
                <p id="curiosity">BEM-VINDO! ✨</p>
            </div>


            <figure>
                <img src="https://camo.githubusercontent.com/192b36c5eeb9989cf1c60a852334dfa7dbb42dd88b1946504b4a00ea7745e8ee/68747470733a2f2f692e696d6775722e636f6d2f427430766e6b652e6a7067" alt="Imagem">
                <figcaption>"Migrant Mother" by Dorothea Lange (1936)</figcaption>

                <img src="https://camo.githubusercontent.com/1f767a8762b949a7047b7017887960752fc5d7f34abb3a091063e60d1455b807/68747470733a2f2f692e696d6775722e636f6d2f6e3871564a35632e6a7067" alt="Imagem">
                <figcaption>Thanksgiving Maskers (1911)</figcaption>

                <img src="https://camo.githubusercontent.com/3defd19b5fab8d33de7165736ccd87d3cc9b25996c5cc78e81bc07448d09abc3/68747470733a2f2f692e696d6775722e636f6d2f316f59724a52492e6a7067" alt="Imagem">
                <figcaption>Glen Echo Madame Careta Gypsy Camp in Maryland (1925)</figcaption>

                <iframe src="https://www.youtube.com/embed/l3UXXid04Ys?si=OHniP7eyQ6v_o_rn" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <br>
                <iframe  src="https://www.youtube.com/embed/EXn-n2iqEjI?si=GIonsvTK2N0RpgJj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </figure>
            
            <div class="footer">
                <p>Copyright &copy; 2023 RetroAI</p>
            </div>
        </div>


    </div>


</body>

</html>
