<!-- index.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetroAI - Vídeos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='watermark.png') }}">
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            const curiosityElement = document.getElementById('curiosity');
            const curiosities = [
            "Use a RetroAI para colorir imagens! 📸🎨",
                "Use a RetroAI para colorir vídeos! 🎥🎨",
                "A RetroAI usa Inteligência Artificial Generativa para colorir as imagens e os vídeos.🧠🤖",
                "A IA generativa da RetroIA pinta digitalmente fotos e vídeos antigos, <br>revitalizando memórias de épocas passadas! 🎞️🎨",
                "Powered by Let's Tech It 🚀",
            ];
            let index = 0;

            setInterval(() => {
                curiosityElement.innerHTML = curiosities[index];
                index = (index + 1) % curiosities.length;
            }, 4000);

            const imageInput = document.getElementById('image-input');
            const filenameElement = document.getElementById('filename');

            imageInput.addEventListener('change', () => {
                filenameElement.textContent = imageInput.files[0].name;
            });

            const form = document.getElementById('upload-form');
            const colorizeBtn = document.getElementById('colorize-btn');

            colorizeBtn.addEventListener('click', () => {
                form.submit();
            });
        });
    </script>

    <script>
        window.addEventListener('load', ()=> {
            const loader = document.querySelector(".loader");

            loader.classList.add("loader--hidden");
            
            document.addEventListener("transitionend", () => {
                document.body.removeChild(loader);
            });
        
        });

    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6240072080745593"
     crossorigin="anonymous"></script>

</head>
<body>
    <div class="loader"></div>
    <div class="container">
        <div class="content">
            <button class="btn btn2-primary" onclick="window.location.href='/'" type="submit">Voltar</button>
            <h1>RetroAI - Vídeos</h1>
            <h2>Use a RetroAI para colorir vídeos em preto e branco 🎥</h2>
            <form id="upload-form" method="POST" enctype="multipart/form-data">
                <input type="file" name="video" id="image-input" accept="video/*" style="display: none;" required>
                <button class="colorize-btn upload-btn" type="button" onclick="document.getElementById('image-input').click()">Faça upload do arquivo 📁</button>
                <button class="colorize-btn" type="submit">Colorir seu vídeo 🎨</button>
                <span id="filename"></span>
            </form>


            <div id="loaders" class="loaders">
                <img src="static/loader.gif" alt="Carregando..." />
                <p>Colorir um vídeo pode demorar um pouco às vezes... <br> Você receberá um e-mail quando estiver pronto! <br> Você pode fechar essa aba.</p>
             </div>
            
            <div class="curiosity">
                <p id="curiosity">RetroAI - Vídeos</p>
            </div>
        </div>
        <div class="footer">
            <p>Copyright &copy; 2023 RetroAI</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='loader.js') }}"></script>
</body>

</html>
