/* Estilos para a versão desktop */
body {
    background: linear-gradient(to bottom, #3D1369, #67125C);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    min-height: 100vh;
    scroll-behavior: auto;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: fixed;
    text-align: center;
    align-items: center;
    width: 50%; 
    margin-top: 5%;
}



.download-button {
    margin-top: 10px;
    display: inline-block;
    background-color: #fff;
    color: #3D1369;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    margin-bottom: 30px; 
}

.download-button:hover {
    background-color: #3D1369;
}


.footer {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 10px;
}



/* Estilos para imagens */
img,
source {
    border-radius: 10px;
    max-width: 50%; /* Para garantir que as imagens não excedam a largura do container */
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}


.btn.btn2-primary {  
    background-color: transparent; /* Cor cinza meio transparente */
    color: #f0f0f0;
    border-radius: 5px;
    border: 2px solid gray; /* Borda cinza */
    padding: 10px 20px; /* Espaçamento interno */
    transition: transform 0.3s ;
    font-size: 20px;
    margin-top: 10px;
}

.btn.btn2-primary:hover{
    transform: scale(1.08);
}

@media screen and (max-width: 760px) {

    .content {
        width: auto;
    }

    h1 {
        font-size: 1.1rem;
        margin-bottom: 30px;
    }

    h2 {
        font-size: 0.9rem;
    }


    .button-container {
        flex-direction: column;
    }

    form {
        margin: 0;
    }

    .download-button{
        padding: 5px 10px;
    }

    .btn.btn2-primary {
        padding: 5px 10px;
    }
    
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #fff;
    border-top-color: #3D1369;
    border-radius: 50%;
    animation: loading 0.75s ease infinite
}

@keyframes loading {
    from { transform: rotate(0turn);}
    to { transform: rotate(1turn);}
}



